body {
  padding-top: 10px;
  background: black;
  color: white;
}

.fs-08 {
  font-size: 0.8rem;  
}

hr {
  border-color: #6f6f6f;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background : none;
  border: none;
  border-bottom : solid 2px #03a9f4;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link{
  background : none;
  border: none;
  color: white;
}