<div class="d-none d-lg-block col-lg-3">
  <div
    style="
      margin-bottom: 20px;
      border: solid 1px #656565;
      border-radius: 5px;
      background: #d7d7d7;
      padding: 5px 10px;
    "
    class="d-flex"
  >
    <input
      class="flex-grow-1"
      type="text"
      id="search"
      name="search"
      placeholder="Search"
      style="color: #474747; background: none; outline: none; border: none"
      onkeypress="if(event.keyCode==13) doSearchBtn()"
    />
    <button
      type="button"
      id="searchbtn"
      style="background: none; padding: 0; border: none; margin: 0"
      onclick="doSearchBtn()"
    >
      <i
        class="fa fa-search flex-shrink-0 text-dark"
        style="position: relative; right: 10px"
      ></i>
    </button>
  </div>
  {% if full_name %}
  <v-profile
    id="userprofile"
    fullname="{{ full_name }}"
    handler="{{ handler }}"
    avatar="{{ avatar }}"
  ></v-profile>
  <v-postbox id="newpost"></v-postbox>
  <a type="button" href="/new-article" class="btn btn-block btn-primary mt-2">
    <i class="fas fa-newspaper"></i> New Article
  </a>
  {% else %}
  <div class="text-center">
    <img
      src="/assets/images/mascott-removebg-preview.png"
      style="width: 200px"
    />
    <p><b>Welcome to VerityHub!</b></p>

    <p>
      At VerityHub, we believe in creating meaningful, trustworthy connections
      where your privacy comes first. This is more than just social media; it's
      a place for genuine discovery, insights, and engagement, backed by
      powerful, privacy-focused technology.
    </p>
  </div>
  {% endif %}
</div>
