<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VerityHub</title>
    <link rel="icon" type="image/png" href="assets/favicon.png" />

    {% include 'script.html' %}
  </head>

  <body>
    <cs-toast></cs-toast>
    {% include 'mobile-menu.html' %}
    <div id="root-container" class="container">
      <div class="row">
        <div class="col-10 col-md-9 col-lg-9">
          <ul
            class="nav nav-pills d-flex text-center"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item flex-grow-1" role="presentation">
              <button
                class="nav-link active btn-block"
                id="pills-posts-tab"
                data-toggle="pill"
                data-target="#pills-posts"
                type="button"
                role="tab"
                aria-controls="pills-posts"
                aria-selected="true"
              >
                New Article
              </button>
            </li>
          </ul>

          <hr class="m-0 mb-4" />

          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-posts"
              role="tabpanel"
              aria-labelledby="pills-posts-tab"
            >
              <cs-input
                mode="dark"
                id="article-title"
                type="text"
                label="Title"
                isFloat="false"
                placeholder="Enter article title"
              ></cs-input>
              <cs-rtf
                id="article-content"
                rows="8"
                placeholder="Write your article content here..."
              ></cs-rtf>
              <button
                id="articlePublishBtn"
                class="btn btn-secondary btn-block btn-sm"
              >
                <i class="fa fa-paper-plane"></i> Publish
              </button>
            </div>
          </div>
        </div>
        {% include 'sidebar.html' %}
      </div>
    </div>
    <script src="/assets/js/fn.js"></script>
  </body>
  <script>
    document
      .getElementById("articlePublishBtn")
      .addEventListener("click", () => {
        toast.loading("Publishing article...");
        const title = getVal("article-title");
        const content = getVal("article-content");

        if (!title || !content) {
          toast.error("Please fill in all fields", "error");
          return;
        }

        const data = {
          title,
          content,
        };

        fetch("/post-article", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((res) => res.json())
          .then((data) => {
            toast.success("Article published successfully.");
            setTimeout(() => {
              window.location.href = "/articles";
            }, 1000);
          })
          .catch((err) => {
            console.log(err);
            toast.error("An error occurred. Please try again later.");
          });
      });
  </script>
</html>
