<div class="d-none d-md-block col-md-3">
  <v-logo></v-logo>
  <hr />
  <ul style="list-style: none; margin: 0; padding: 0;">
    <li class="mb-2"><i class="fas fa-globe mr-2"></i> Posts</li>
    <li class="mb-2"><i class="far fa-newspaper mr-2"></i>Articles</li>
  </ul>
  <hr />
  <v-loginbox></v-loginbox>
</div>
<div class="d-block d-md-none col-2 text-center">
  <h1 style="font-size: 2rem;">
    <img style="width: 60%;" src="/assets/images/logo-removebg-preview.png" />
  </h1>
  <hr />
  <ul style="list-style: none; margin: 0; padding: 0; font-size: 1.5rem;">
    <li class="mb-2"><i class="fas fa-globe mr-2"></i></li>
    <li class="mb-2"><i class="far fa-newspaper mr-2"></i></li>
  </ul>
  <hr />
</div>