<div class="d-block d-md-none">
  {% if full_name %}
  <cs-sidebar
    logo="/assets/images/logo2.png"
    description="A privacy-first social media platform where meaningful connections, discovery, and trust come together. Explore, share, and engage with confidence"
    links="Home;Profile;Articles"
    urls="/;/profile;/articles"
    footer="VerityHub © 2025. All Rights Reserved"
  >
    <div class="text-center mt-3">
      <button class="btn btn-danger btn-block btn-sm" onclick="logout()">
        <i class="fas fa-door-open"></i>
        Logout
      </button>
    </div>
  </cs-sidebar>
  {% else %}
  <cs-sidebar
    logo="/assets/images/logo2.png"
    description="A privacy-first social media platform where meaningful connections, discovery, and trust come together. Explore, share, and engage with confidence"
    links="Home;Articles"
    urls="/;/articles"
    footer="VerityHub © 2025. All Rights Reserved"
  >
    <div class="text-center mt-3">
      <a href="/signin" type="button" class="btn btn-block btn-secondary">
        <i class="far fa-user-circle"></i> Sign in
      </a>
      <a href="/signup" type="button" class="btn btn-block btn-secondary">
        <i class="far fa-user"></i>
        Create Account
      </a>
    </div>
  </cs-sidebar>
  {% endif %}
</div>

<div class="d-none d-md-block col-md-3 sidebar">
  <v-logo></v-logo>
  <hr />
  <ul style="list-style: none; margin: 0; padding: 0">
    <li class="mb-2">
      <a href="/"><i class="fas fa-home mr-2"></i>Home</a>
    </li>
    {% if full_name %}
    <li class="mb-2">
      <a href="/profile"><i class="fas fa-user-alt mr-2"></i>Profile</a>
    </li>
    {% endif %}
    <li class="mb-2">
      <a href="/articles"><i class="far fa-newspaper mr-2"></i>Articles</a>
    </li>
  </ul>
  <hr />
  {% if full_name %}
  <button type="button" class="btn btn-block btn-secondary" id="logout">
    <i class="fas fa-sign-out-alt"></i> Logout
  </button>
  {% else %}
  <p class="fs-08">
    Login to unlock a world of privacy-first connections, insightful
    discussions, and meaningful discovery.
  </p>
  <a href="/signin" type="button" class="btn btn-block btn-secondary">
    <i class="far fa-user-circle"></i> Sign in
  </a>
  <a href="/signup" type="button" class="btn btn-block btn-secondary">
    <i class="far fa-user"></i> Create Account
  </a>
  {% endif%}
</div>

<script>
  const logoutBtn = document.getElementById("logout");
  if (logoutBtn) {
    logoutBtn.addEventListener("click", async () => {
      await logout();
    });
  }

  const signinBtn = document.getElementById("signin-btn");

  if (signinBtn) {
    signinBtn.addEventListener("click", async () => {
      const username = w.getVal("userlogin");
      const password = w.getVal("passwordlogin");
      signIn(username, password);
    });
  }

  const createAccountBtn = document.getElementById("create-account-btn");

  if (createAccountBtn) {
    createAccountBtn.addEventListener("click", async () => {
      toast.loading("Please Wait ...");

      const username = w.getVal("username");
      const password = w.getVal("password");
      const confirmPassword = w.getVal("confirm-password");
      const full_name = w.getVal("fullname");
      const avatar = w.getVal("avatar");

      const r = await signUp(
        username,
        password,
        confirmPassword,
        full_name,
        avatar
      );

      if (r.message === "Signup Success !") {
        toast.success("Signup Success !");
        w.location.reload();
      } else {
        toast.error(r.message);
      }
    });
  }
</script>
