<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login / Create Account</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      crossorigin="
    anonymous"
    />
    <script
      type="module"
      src="https://pages-github.b-cdn.net/webcomponents/modules/cs-input.js"
    ></script>
    <script src="https://pages-github.b-cdn.net/webcomponents/modules/cs-notification.js"></script>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="col-12 px-4 col-sm-6 col-md-4">
        <v-logo></v-logo>
        <p class="text-white text-center mt-4">
          Create an account to get started. If your account is hosted on a
          different server,
          <a href="/signin" class="text-white">login from the login page</a>
        </p>
        <div>
          <cs-input
            mode="dark"
            type="text"
            label="Username"
            id="username"
          ></cs-input>
          <cs-input mode="dark" label="Password" id="password"></cs-input>
          <cs-input
            mode="dark"
            label="Confirm Password"
            id="confirm-password"
          ></cs-input>
          <cs-input mode="dark" label="Full Name" id="fullname"></cs-input>
          <cs-upload
            mode="dark"
            label="Avatar"
            id="avatar"
            server="/"
          ></cs-upload>
          <button
            type="button"
            id="create-account-btn"
            class="btn btn-block btn-primary mt-2"
          >
            <i class="fas fa-user-plus"></i>
            Create Account
          </button>
        </div>
      </div>
    </div>

    <c-toast></c-toast>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/components.js"></script>
    <script src="/assets/js/fn.js"></script>

    <script>
      const createAccountBtn = document.getElementById("create-account-btn");

      if (createAccountBtn) {
        createAccountBtn.addEventListener("click", async () => {
          toast.loading("Please Wait ...");

          const username = w.getVal("username");
          const password = w.getVal("password");
          const confirmPassword = w.getVal("confirm-password");
          const full_name = w.getVal("fullname");
          const avatar = w.getVal("avatar");

          const r = await signUp(
            username,
            password,
            confirmPassword,
            full_name,
            avatar
          );

          if (r.message === "Signup Success !") {
            toast.success("Signup Success !");
            w.location.href = "/signin";
          } else {
            toast.error(r.message);
          }
        });
      }
    </script>
  </body>
</html>
