<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login / Create Account</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/style.css" />
    <script
      type="module"
      src="https://pages-github.b-cdn.net/webcomponents/modules/cs-input.js"
    ></script>
  </head>
  <body>
    <cs-toast></cs-toast>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="col-12 px-4 col-sm-6 col-md-4">
        <v-logo></v-logo>
        <div class="text-white">
          <p class="text-center mt-4 mb-4">
            Your space for private, meaningful, and insightful connections
            starts here.
          </p>
          <ul>
            <li>Discover new ideas</li>
            <li>Engage with a trusted community</li>
            <li>Enjoy privacy-first social networking</li>
          </ul>
          <p class="text-center"><b>Log in</b> to continue exploring!</p>
        </div>
        <cs-input
          icon="user"
          mode="dark"
          id="userlogin"
          type="text"
          label="Username"
        ></cs-input>
        <cs-input
          icon="key"
          mode="dark"
          id="passwordlogin"
          type="text"
          label="Password"
        ></cs-input>
        <button id="signin-btn" class="btn btn-primary btn-block mt-4">
          <i class="far far fas fa-user-alt mr-2"></i>Login
        </button>
        <p class="text-center mt-2 text-white">
          🚀 New here?
          <a href="/signup" style="color: #03a9f4">Create an account</a> and
          join VerityHub today!
        </p>
      </div>
    </div>

    <script src="/assets/js/components.js"></script>
    <script src="/assets/js/fn.js"></script>

    <script>
      const signinBtn = document.getElementById("signin-btn");

      if (signinBtn) {
        signinBtn.addEventListener("click", async () => {
          const username = getVal("userlogin");
          const password = getVal("passwordlogin");
          signIn(username, password);
        });
      }
    </script>
  </body>
</html>
