<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login / Create Account</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      crossorigin="
    anonymous"
    />
    <link rel="stylesheet" href="/assets/style.css" />
    <script src="https://pages-github.b-cdn.net/webcomponents/input.js"></script>

    <script src="/assets/js/components.js"></script>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="col-12 px-4 col-sm-7 col-md-3">
        <v-logo></v-logo>
        <p class="text-white text-center mt-4">
          Create an account to get started. If your account is hosted on a
          different server,
          <a href="login" class="text-white">login from the login page</a>
        </p>
        <div>
          <input
            type="text"
            class="form-control mb-3"
            placeholder="Username"
            id="username"
          />
          <input
            type="password"
            class="form-control mb-3"
            placeholder="Password"
            id="password"
          />
          <input
            type="password"
            class="form-control mb-3"
            placeholder="Confirm Password"
            id="confirm-password"
          />
          <input
            type="text"
            class="form-control mb-3"
            placeholder="Full Name"
            id="fullname"
          />
          <c-input
            server="/"
            type="upload"
            id="avatar"
            placeholder="Avatar"
          ></c-input>
          <button
            type="button"
            id="create-account-btn"
            class="btn btn-block btn-secondary"
          >
            <i class="fas fa-user-plus"></i>
            Create Account
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
